<!DOCTYPE html>
<html>
<head>
<title>Malvins Studio - Login</title>

  <style>

    html,body {
        margin: 0;
        height: 100%;
        background-color: #591F82;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("<%= image_path('malvins-studio-cover') %>");
        font-family: 'Rounded-Elegance', sans-serif;
    }
    .contact {
        color: white;
        text-align: center;
        bottom: 0;
        position: absolute;
        width: 100%;
        font-size: 27px;
        padding-bottom: 177px;
    }
    .contact a {
        color: white;
        text-decoration: none;
    }
    .contact a:hover {
        text-decoration: underline;
    }
    img { vertical-align: text-bottom; }
  </style>
  </head>
  <body>
  <footer class="contact">
    Come and say <a href="mailto:hi@malvins.studio">hi@malvins.studio</a>
    <img src="<%= image_url('malvins-studio-icon') %>" width="32px">
  </footer>
  </body>
</html>
